<div id="navigationPanel" class="panel no-margin bg-info">
    <div class="panel-heading container-fluid" style="position:relative">
        <div id="navigation-date">
            <div class="hidden well well-sm globalDatePicker-popupRegion" id="hiddenDiv">
                <div id="globalDate-region"></div>
            </div>
            <div id="globalDatePicker-compact">
                    <button type="button" class="pull-left globalDatePickerButton btn btn-link" id="date-region-minimized" title="Minimized global date range">
                        <span class="sr-only">Minimized global date range</span>
                    </button>
                    <div id="gdr-spikeline"></div>
                </div>
            </div>
        </div>

        <div id="navigation-navbar" class="applet-nav-bar">
            <ul class="nav nav-pills navbar-right">
                <li class="btn-group">
                    <button type="button" id="workspace-manager-button" class="btn btn-default" title="Workspace Manager">
                        <i class="fa fa-th"></i><span class="sr-only">Workspace Manager Page</span>
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span id="screenName">Menu</span>
                        <span class="caret"></span>
                    </button>
                    <button type="button" id="plus-button" class="btn btn-default" title="Workspace Editor">
                            <i class="fa fa-plus-square"><span class="sr-only">Screen Builder Page</span></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                    {{#each screens}}
                       <li role="presentation" class="{{routeName}}-button"> <a href="#{{routeName}}" role="button">
                       {{#if defaultScreen}}
                            <i class="fa fa-star"></i>
                       {{/if}}
                       {{title}}</a></li>
                    {{/each}}
                    </ul>
                </li>
                <li id="text-search-input"></li>
            </ul>
        </div>
    </div>
</div>
