<div id="{{appletID}}-observations-gist">
	<div id="observationGistGrid" class="col-sm-12 header-bar">
	    <span id="name-header" class="col-sm-5 selectable header descriptionClass">{{gistHeaders.header1}}</span>
	    <span id="results-header" class="col-sm-3 selectable header resultClass">{{gistHeaders.header2}}</span>
	    <span id="graph-header" class="col-sm-3 selectable header">{{gistHeaders.header3}}</span>
	    <span id="age-header" class="col-sm-1 ageHeader">{{gistHeaders.header4}}</span>
	</div>
    <div id="{{appletID}}-observations-gist-items" class="gistList"></div>
</div>