<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Faux Table Accordion Row Examples</title>
    <link rel="stylesheet" href="../../_assets/css/vendor.css" />
    <link rel="stylesheet" href="../../_assets/css/adk.css" />
    <link rel="stylesheet" href="../../app/css/applets.css" />
    <link rel="stylesheet" href="../css/main-styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700" />
    <script src="../js/jquery-1.11.2.min.js"></script>
</head>

<body style="background: #fff;">
    <!-- Basic Flexbox table Example to cover a hand full of use-cases  -->
    <div class="container">
        <h2 class="text-center">Basic Flexbox Table Example</h2>
        <div class="flex-table flex-table-demo">
          <div class="header table-row right-padding-md">
            <div class="table-cell cell-valign-top pixel-width-100 no-flex cell-nowrap">I am 100px wide and not a pixel more</div>
            <div class="table-cell">
              <div>I am some content</div>
            </div>
            <div class="table-cell">
              <div>I am some content</div>
            </div>
            <div class="table-cell cell-valign-bottom">Bottom</div>
          </div>
          <div class="body scrolling-content pixel-height-100">
            <div class="table-row">
              <div class="table-cell cell-valign-top pixel-width-100 no-flex cell-nowrap">I am 100px wide and not a pixel more</div>
              <div class="table-cell">
                <div>I am some content</div>
                <div>I am some content</div>
                <div>I am some content</div><span>I am more content I am more content I am more content I am more content</span>
              </div>
               <div class="table-cell cell-valign-middle">Middle (20%)</div>
              <div class="table-cell cell-valign-bottom">Bottom</div>
            </div>
            <div class="table-row">
              <div class="table-cell cell-valign-top pixel-width-100 no-flex cell-nowrap">I am 100px wide and not a pixel more</div>
              <div class="table-cell">
                <div>I am some content</div>
                <div>I am some content</div>
                <div>I am some content</div><span>I am more content I am more content I am more content I am more content</span>
              </div>
               <div class="table-cell cell-valign-middle">Middle (20%)</div>
              <div class="table-cell cell-valign-bottom">Bottom</div>
            </div>
          </div>
        </div>
        <br /><br />
    </div>

    <script src="../js/jquery-1.11.2.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/typeahead.js"></script>

</body>

</html>
