<div id="columnHeader" class="row">
	<div class="col0 columnName no-padding-right col-md-2">Appt Date/Time</div>
	<div class="col1 columnName no-padding-right col-md-3">Location</div>
	<div class="col2 columnName no-padding-right col-md-2">Patient Name</div>
	<div class="col3 columnName no-padding-right col-md-1">SSN</div>
	<div class="col4 columnName no-padding-right col-md-2">Date of Birth</div>
	<div class="col5 columnName no-padding-right col-md-1">Gender</div>
	<div class="col6 columnName no-padding-right col-md-1">Room-Bed</div>
</div>
<div class="list-group"></div>