[data-appletid="encounters"] {
#Age-header{
    padding-left: 14px;
}
#Event-header{
    padding-left: 26px;
}
.col-sm-5.text.left-side.info-display.border-vertical{
    width:50.2%;
}
span.header-hover:hover{
        cursor: pointer;
    }
    .has-popover{
        z-index: 100;
    }    
    .has-popover:hover{
        color: #206473;
    }
    .popover-custom {
        max-width: 100%;
        width: auto;
    } 
    .popover-title {
    color: white;
    background-color: blue;
    padding: 5px,5px;
    font-size: 12px;
}
div.encGistItem {
    border-bottom: 2px solid #f3f3f3;
    border-radius: 0;
    border-top: 1px solid #e5e5e5;
    color: #666;
    display: block;
    height: auto;
    margin-left: 0;
    position: relative !important;
    width: 100%;

}
    .encPanel{
    margin-bottom: auto;
    }
div.encGistItem:first-child {
    border-top: medium none;
}
    .encGistList .encGistItem:nth-child(even){
        background-color: #f2f8fe;
    }
    .encGistList .encGistItem:hover {
        color: #000000;
        background-color: #F0F0F0;
    }
    div.gistSubItem {
        border-radius: 0;
        clear: both;
        color: #666;
        height: auto;
        margin-left: 0;
        position: relative !important;
        width: 100%;
        .text {
            top: 0;
        }
        .chart{
            top: 0;
        }        
    } 
    .gistItem .gistSubItem:nth-child(even){
        background-color: #f2f8fe;
    }
    .gistItem .gistSubItem:hover {
        /*color: #000000;
        background-color: #F0F0F0;
        */
    }    
.encGistList {
    clear: both;
    padding: 0;
}
.panel-collapse.collapse.in {
    background-image: linear-gradient(to bottom, #afb5b7 0%, #cfd8dc 10px, #cfd8dc 100%);
    padding: 6px; /*10px*/
}    
   .gistSubList {
    background-color: #fff;
    padding: 0;
    }    
    .clearBoth {
        clear: both;
    }
    .emptyGistList {
        font-style: italic; 
        color: gray; 
        min-height: 40px; 
        padding: 10px;
    }
    .changecolor + .tooltip > .tooltip-inner {
    border: 2px solid #CCCCCC;
    text-align:left;
    max-width: 650px;
        .row{
            background-color: #000; 
            color: #fff; 
        }
    }   
    .header-bar {
    color: #206473;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #999999;
    height: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 10px;
    padding-top: 2px;
    }
    .gistSubList .header-bar {
        padding-top: 0;
    }
    .subheader-bar {
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
        color: #206473;
        font-size: 10px;
        font-weight: 700;
        height: 20px;
        margin-top: 0;
        padding: 3px 0;
    }    
    .header{
    margin-top: 3px;
    white-space: nowrap;
    }
    .headerDirectionalIndicator{
    padding-left:0;
    }
    .warning{
    color: #CC0000;
    font-weight: bold;
    }
    .col-condensed{
    padding-left: 2px;
    padding-right: 2px;
    }
.gChartMinEnc {
    height: 30px; /*41*/
    width: 100%;
    min-width: 60px;
    max-width: 115px; /*180*/
    overflow:hidden;
    background-color: #f2f2f2;
}

.gsubChartMine {
    height: 25px;
    width: 125px;
    overflow:hidden;
    background-color: #f3f3f3;
}    
    .noPadding{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .noMargin{
        margin-left:0 !important;
        margin-right:0 !important;
    }
    .row.equalHeights {
        display: table;
        width: 100%;
    }

.row.equalHeights > [class*="col-"] { //class^="col-"
        display: table-cell;
        float: none;
        vertical-align: middle;
    }   
    
.panel-heading {
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
}  
    
    .gistItem .panel {
        border: 0 none;
        border-radius: 0;
        margin-bottom: 0 !important;
    }
    .changecolor:hover {
        background-color: #f2f8fe;
    }

    div.gistSubItem .chart, div.gistSubItem .text {
        position: relative;
        top: auto;
    }
    div.gistSubItem .text {
        padding-bottom: 4px;
        padding-top: 4px;
    }

    div.gistSubItem .chart {
        padding-bottom: 3px;
        padding-top: 3px;
    }
    #Age-header.pull-right{
        float:none !important;
    } 
    .gChartMin {
        height: 35px;
        width: 100%;
        min-width: 80px;
        max-width: 125px;
        background-color: #f3f3f3;        
    }    
    .gistItemInner {
        border-bottom: 1px solid #e5e5e5;
    }
    .problem-name {
        padding-top: 3px;
        padding-bottom: 3px;
    }    
.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    margin-right: 3px;
    width: 0;
}

.right-caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 0.3;
   margin-right: 3px;
    width: 0;
}
.empty-caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 0;
   margin-right: 3px;
    width: 0;
}    
    
    .gistSubList > div > div {
        background-color: #fff;
    }
    
    div.gistItem {
        border-bottom: 2px solid #f3f3f3;
        border-top: 1px solid #e5e5e5;
    }
    .border-vertical {
        border-right: 1px solid #e5e5e5;
    }
    .quickDraw:last-child .counter2 {
        padding-left: 0;
        padding-right: 0;
    }
    .gistSubList .header-bar span {
        padding-left: 0;
        padding-right: 0;
    }
    .gistSubList .header-bar span:first-child{
        padding-left: 10px;
    }
    .encGistList .panel {
        border: none;
    }
    .quickDraw:hover {
        background-color:#f2f7fc;
    }
    .quickDraw:focus {
        outline:0;
    }
    .quickviewOverlay {
        bottom: 0;
        color: #fff;
        display: block;
        left: 0;
        line-height: 40px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        z-index: 100;
    }    
   
}