<div class="panel panel-primary" title="{{title}}">
  <div class="panel-heading grid-applet-heading">
    <span class="pull-left">
      <span class="grid-refresh-button"></span>
    </span>
    <span class="pull-right">
      <span class="grid-titlebar"></span>
      <span class="grid-add-button"></span>
      <span class="grid-filter-button"></span>
      <span class="grid-options-button"></span>
      <span class="grid-resize"></span>
    </span>
    <span class="center-block text-center panel-title">{{title}}</span>
  </div>

  <div class="appletDiv_ChromeContainer"></div>
  <div class="switchboard-container"></div>

  <div class="grid-footer">
    <span class="gs-resize-handle gs-resize-handle-both"></span>
  </div>
</div>
