<div class="panel panel-primary">
  <div class="panel-heading grid-applet-heading" title="{{title}}">
    <span class="pull-right right-button-region">
    </span>
    <span class="pull-right">
      <span class="grid-refresh-button"></span>
    </span>
    <span class="panel-title center-block">
      <h5 class="panel-title-label">
        {{title}}
      </h5>
      <input type="text" class="form-control input-sm center-block hidden panel-title-textbox text-align-center" value="{{title}}" maxlength="30" />
    </span>
  </div>

  <div class="appletDiv_ChromeContainer"></div>
  <div class="switchboard-container hide"></div>

  <div class="grid-footer">
    <span class="gs-resize-handle gs-resize-handle-both"></span>
  </div>
</div>
