<!-- <button type="button" id="grid-exit-button-{{instanceId}}" data-toggle="collapse" data-target="#grid-exit-{{instanceId}}" class="applet-exit-options-button btn btn-xs btn-link" tabindex="0" title="Exit Options">
	<span class="applet-title-button fa fa-close">
		<span class="sr-only">Exit Options</span>
	</span>
</button> -->

<button type="button" class="applet-exit-options-button btn btn-xs btn-link" tabindex="0" title="Exit Options">
	<span class="applet-title-button fa fa-close">
		<span class="sr-only">Exit Options</span>
	</span>
</button>
