<div id="{{appletID}}-event-gist" gistviewtype="events">
	<div id="eventGistGrid" class="row header-bar noMargin">
	        <div id="name-header" class="col-sm-4 {{#if gistHeaders.name.sortable}}selectable{{/if}} header" sortable="{{gistHeaders.name.sortable}}" sortType="{{gistHeaders.name.sortType}}" sortDirection="none" sortKey="{{gistHeaders.name.key}}" {{#if gistHeaders.name.sortable}} tabindex="0"{{/if}}>{{gistHeaders.name.title}}
                <span sortArrow="headerDirectionalIndicator" class="sort-caret fa "></span>
            </div>
	        <div id="comment-header" class="col-sm-2 {{#if gistHeaders.acuityName.sortable}}selectable{{/if}} header" sortable="{{gistHeaders.acuityName.sortable}}" sortType="{{gistHeaders.acuityName.sortType}}" sortDirection="none" sortKey="{{gistHeaders.acuityName.key}}" {{#if gistHeaders.acuityName.sortable}} tabindex="0"{{/if}}>{{gistHeaders.acuityName.title}}
                <span sortArrow="headerDirectionalIndicator" class="sort-caret fa "></span>
            </div>
			<div id="count-header1" class="col-sm-3 {{#if gistHeaders.itemsInGraphCount.sortable}}selectable{{/if}} header" sortable="{{gistHeaders.itemsInGraphCount.sortable}}" sortType="{{gistHeaders.itemsInGraphCount.sortType}}" sortDirection="none" sortKey="{{gistHeaders.itemsInGraphCount.key}}" {{#if gistHeaders.itemsInGraphCount.sortable}} tabindex="0"{{/if}}>{{gistHeaders.itemsInGraphCount.title}}
                <span sortArrow="headerDirectionalIndicator" class="sort-caret fa "></span>
            </div>
			<div id="graph-header" class="col-sm-2 quickDraw {{#if gistHeaders.graph.sortable}}selectable{{/if}} header" sortable="{{gistHeaders.graph.sortable}}" sortType="{{gistHeaders.graph.sortType}}" sortDirection="none" sortKey="{{gistHeaders.graph.key}}" {{#if gistHeaders.graph.sortable}} tabindex="0"{{/if}}>{{gistHeaders.graph.title}}
                <span sortArrow="headerDirectionalIndicator" class="sort-caret fa "></span>
            </div>
			<div id="count-header2" class="col-sm-1 {{#if gistHeaders.age.sortable}}selectable{{/if}} text-center header noPadding" sortable="{{gistHeaders.age.sortable}}" sortType="{{gistHeaders.age.sortType}}" sortDirection="none" sortKey="{{gistHeaders.age.key}}" {{#if gistHeaders.age.sortable}} tabindex="0"{{/if}}>{{gistHeaders.age.title}}
                <span sortArrow="headerDirectionalIndicator" class="sort-caret fa "></span>
            </div>
	</div>
	<div id="{{appletID}}-event-gist-items" class="gistItemList"></div>
</div>
