<div class="toolbarPopover" >
	<div class="btn-toolbar" role="toolbar" >
		<div class="btn-group" role="group">
			<button id="info-toolbar-button" type="button" class="btn" ><i class="fa fa-info"></i></button>
			<button id="eye-toolbar-button" type="button" class="btn" ><i class="fa fa-eye"></i></button>
			<button id="share-toolbar-button" type="button" class="btn" ><i class="fa fa-share-alt"></i></button>
			<button id="edit-toolbar-button" type="button" class="btn" ><i class="fa fa-pencil-square-o"></i></button>
			<button id="search-toolbar-button" type="button" class="btn" ><i class="fa fa-search"></i></button>
		</div>
	</div>
</div>
