span.header-hover:hover, #lab-results-summary-expand:hover, #lab-results-summary-filter:hover {
    cursor: pointer;
}

label.color-DOD {
	background-color: #A56900;
}
label.color-500, label.color-nonDOD {
	background-color: #397BB3;
}

h3 small{
	color:#ffffff;
}

.js-backgrid .backgrid-paginator ul {
	padding: 0;
}

#date-range-filter {
    margin-bottom: 7px;
}
#date-range-filter .default-range {
    background: white;
    padding: 1px 2px;
    font-size: 11px;
    margin: 6px 4px;
}
#date-range-filter .active-range {
    background: #357ebd;
    color: white;
}
#date-range-filter .daterange:not(.active-range):hover {
    background: #357ebd;
    color: white;
}

#lr-data-table-view h5 {
    /*display: block;*/
    padding-left: 15px;
}
.overflowEllipsis {
    text-overflow: ellipsis;
    overflow:hidden;
}
.header-bar {
    color: #206473;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #999999;
    height: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 10px;
}
.header{
    margin-top: 3px;
}
.descriptionClass{
    padding-left:2px;
}
.resultClass {
    padding-left:20px;
}
[data-appletid="lab_results_grid"] {
 div.gistItem {
    color: #666666;
    height: 20px;
    padding:0px 1px 0px 1px;
     .graph-container {
                z-index:2;
                height:20px;
                overflow:hidden;
                text-align:right;
                padding-right:5px;
            }
    span {
            line-height:20px;
            white-space:nowrap;
        }
     }
    .gistList .gistItem:nth-child(2n){
        background-color: #f2f8fe;
    }
    .gistList .gistItem:hover {
        color: #000000;
        background-color: #F0F0F0;
    }
    .gistList .gistItem:focus {
        outline-width: 3px;
        outline-offset:-3px
    }
    .labsResult {
        text-align:right;
        padding-right:2px;
    }
      .labsUnits {
        text-align:left;
        padding-left:2px;
    }
    .gistTrendGraph {
        background-color: transparent;
        display: inline;
        margin-left: -2px;
        +span+.gistTrendGraph {
            margin-left: 1px;
        }
        .outterBorder {
            stroke: #bbbbbb;
            fill: transparent;
        }
        .criticalRange {
            stroke: #f2f2f2;
            fill: #f2f2f2;
        }
        .abnormalRange {
            stroke: #f2f2f2;
            fill: #f2f2f2;
        }
        .normalRange {
            stroke: #ffffff;
            fill: #ffffff;
        }
        .trendLine {
            stroke: #000000;
        }
        .previousValue {
            stroke: #000000;
            fill: #000000;
        }
        .criticalValue {
            stroke: #cc0000;
            fill: #cc0000;
        }
        .abnormalValue {
            stroke: #ff9900;
            fill: #ff9900;
        }
        .normalValue {
            stroke: #0099ff;
            fill: #0099ff;
        }
        .textureHashed {
            path {
                stroke: #bbbbbb;
                stroke-width: 1;
                fill: none;
            }
            rect {
                @extend .abnormalRange;
            }
        }
        .hashedRange {
            fill: url(#textureHashed);
        }
    }
    .emptyGistList {
        font-style: italic; 
        color: gray; 
        min-height: 40px; 
        padding: 10px;
    }
}
.popover table > caption {
    font-weight: bold;
    font-size: 14px;
    padding-bottom:5px;
}
.popover .more {
    padding-top:5px;
    text-align: center;

}
.ageHeader {
    padding-left:15px;
}

#data-grid-lab_results_grid-modalView .handlebars-cell label{
    cursor:default !important;
}
