<!-- Did not put this CSS into the SASS as I'm currently targeting the modal-window. -->
<!-- SASS is another file, just in case, cleaner than this mess. -->
<style>
#modal-body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#modal-body table {
  margin: 0;
  background-color: #3d5157;
  border: 0;
  border-right: 1px solid #182024;
  font-size: 11px;
  font-family: Open Sans;
}
#modal-body table.table tr td:nth-child(3) {
  border-right: 2px solid #182024;
}
#modal-body table.table tr td:nth-child(5) {
  border-right: 2px solid #182024;
}
#modal-body table.table tr td:nth-child(7) {
  border-right: 2px solid #182024;
}
#modal-body table.table tr.inverse th::first-child {
  background-color: #ccc;
}
#modal-body table.table thead tr th:nth-child(3) {
  border-right: 2px solid #182024;
}
#modal-body table.table thead tr th:nth-child(5) {
  border-right: 2px solid #182024;
}
#modal-body table.table thead tr th:nth-child(7) {
  border-right: 2px solid #182024;
}
#modal-body table.table i.fa {
  margin-right: 5px;
}
#modal-body table.table i.fa.success {
  color: #63B76A;
}
#modal-body table.table i.fa.warning {
  color: #FFEB3B;
}
#modal-body table.table i.fa.error {
  color: #F44336;
}
#modal-body table td:first-child {
  background-color: #ccc;
  color: #470000;
  font-weight: bold;
}
#modal-body table th:first-child {
  background-color: #ccc;
  color: #470000;
}
#modal-body table.table-striped tbody tr::nth-child(odd) td {
  color: #F8FFE4;
  background-color: #3D5157;
}
#modal-body table.table-striped tbody tr::nth-child(even) td {
  color: #FFEFC9;
  background-color: #455A64;
}
#modal-body .table > thead > tr > th {
  border: 0;
  border-bottom: 0;
  border-top: 0;
  padding: 12px 0 12px 12px;
}
#modal-body thead tr.inverse th {
  background-color: #000;
  color: #fff;
  font-weight: normal;
}
#modal-body thead tr.inverse th:first-child {
  background-color: #ccc;
}
#modal-body thead tr.inverse + tr th:first-child {
  background-color: #B0BEC5;
  font-weight: normal;
}
#modal-body thead tr + tr th {
  background-color: #263238;
  color: #8db9c5;
  font-weight: normal;
}
#modal-body .table-striped > tbody > tr:nth-child(odd) > td {
  color: #F8FFE4;
  background-color: #3D5157;
}
#modal-body .table-striped > tbody > tr:nth-child(even) > td {
  color: #FFEFC9;
  background-color: #455A64;
}
#modal-body .table > tbody > tr > th {
  border-top: 0;
  padding: 12px 0 12px 12px;
}
#modal-body .table > tfoot > tr > th {
  border-top: 0;
  padding: 12px 0 12px 12px;
}
#modal-body .table > thead > tr > td {
  border-top: 0;
  padding: 12px 0 12px 12px;
}
#modal-body .table > tbody > tr > td {
  border-top: 0;
  padding: 12px 0 12px 12px;
}
#modal-body .table > tfoot > tr > td {
  border-top: 0;
  padding: 12px 0 12px 12px;
}


</style>

<table class="table table-striped">
    <thead>
        <tr class="inverse">
            <th></th>
            <th id="mysite" colspan="2" scope="col">My Site</th>
            <th id="allva" colspan="2" scope="col">All VA</th>
            <th id="dod" colspan="2" scope="col">DoD</th>
            <th id="communities" colspan="2" scope="col">Communities</th>
        </tr>
        <tr>
            <th scope="col">Domains</th>
            <th headers="mysite" scope="col">Status</th>
            <th headers="mysite" scope="col">Last Synced</th>
            <th headers="allva" scope="col">Status</th>
            <th headers="allva" scope="col">Last Synced</th>
            <th headers="dod" scope="col">Status</th>
            <th headers="dod" scope="col">Last Synced</th>
            <th headers="communities" scope="col">Status</th>
            <th headers="communities" scope="col">Last Synced</th>
        </tr>
    </thead>
    <tbody>
        {{#if syncStatus}}
        {{#each syncStatus}}
        {{#each domains}}
        <tr>
            <th scope="row">
                {{title}}
            </th>
            <td>
                {{#if mySite.current}}
                    <i class="fa fa-check-circle success"></i>
                {{/if}}
                {{#if mySite.newData}}
                    <i class="fa fa-exclamation-circle warning"></i>
                {{/if}}
                {{#if mySite.inProgress}}
                    <i class="fa fa-spinner fa-spin"></i>
                {{/if}}
                {{#if mySite.problem}}
                    <i class="fa fa-circle error"></i>
                {{/if}}
                {{mySite.status}}
            </td>
            <td>
                {{mySite.lastSynced}}
            </td>
            <td>
                {{#if allVa.current}}
                    <i class="fa fa-check-circle success"></i>
                {{/if}}
                {{#if allVa.newData}}
                    <i class="fa fa-exclamation-circle warning"></i>
                {{/if}}
                {{#if allVa.inProgress}}
                    <i class="fa fa-spinner fa-spin"></i>
                {{/if}}
                {{#if allVa.problem}}
                    <i class="fa fa-circle error"></i>
                {{/if}}
                {{allVa.status}}
            </td>
            <td>
                {{allVa.lastSynced}}
            </td>
            <td>
                {{#if dod.current}}
                    <i class="fa fa-check-circle success"></i>
                {{/if}}
                {{#if dod.newData}}
                    <i class="fa fa-exclamation-circle warning"></i>
                {{/if}}
                {{#if dod.inProgress}}
                    <i class="fa fa-spinner fa-spin"></i>
                {{/if}}
                {{#if dod.problem}}
                    <i class="fa fa-circle error"></i>
                {{/if}}
                {{dod.status}}
            </td>
            <td>
                {{dod.lastSynced}}
            </td>
            <td>
                {{#if communities.current}}
                    <i class="fa fa-check-circle success"></i>
                {{/if}}
                {{#if communities.newData}}
                    <i class="fa fa-exclamation-circle warning"></i>
                {{/if}}
                {{#if communities.inProgress}}
                    <i class="fa fa-spinner fa-spin"></i>
                {{/if}}
                {{#if communities.problem}}
                    <i class="fa fa-circle error"></i>
                {{/if}}
                {{communities.status}}
            </td>
            <td>
                {{communities.lastSynced}}
            </td>
        </tr>
        {{/each}}
        {{/each}}
        {{/if}}
    </tbody>
</table>