<div>
    <ul id='vitalsEiE-error-messages'></ul>
    <div id='vitals-entered-in-error' class='form-group'>
        <table class='vitalsEiE table' tabindex='0'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Results</th>
                </tr>
            </thead>
            <tbody>
                {{#each models}}
                    {{#if attributes.uid}}
                        {{#if attributes.disabled}}
                            <tr>
                                <td>{{attributes.displayName}}: {{attributes.resultUnits}}</td>
                                <td><span>{{attributes.resultUnits}}</span></td>                            
                            </tr>                        
                        {{else}}
                            <tr>
                                <td class="vitalsEiE-checkbox">
                                    <input type='checkbox' id="{{attributes.localId}}" date-typeName="{{attributes.typeName}}" tabindex='0'/>&nbsp;&nbsp;
                                                <strong>{{attributes.displayName}}</strong>
                                    <!--span data-toggle="tooltip" data-placement="right" title="{{attributes.tooltip}}" data-html="true" class="{{attributes.labelClass}}">
                                        <input type='checkbox' id="{{attributes.localId}}" date-typeName="{{attributes.typeName}}" tabindex='0' aria-disabled="{{attributes.disabled}}"/>&nbsp;&nbsp;
                                            {{attributes.displayName}}: {{attributes.resultUnits}}
                                    </span-->
                                    <!--label class="sr-only" for="{{attributes.localId}}">{{attributes.tooltip}}</label-->
                                </td>
                                <td><span>{{attributes.resultUnits}}</span></td>                            
                            </tr>                        
                        {{/if}}
                    {{else}}
                        <tr>
                            <td>{{attributes.displayName}}</td>
                            <td><span>{{attributes.resultUnits}}</span></td>
                        </tr>
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
    <br class='separator'/>
        <p>
            NOTE: To mark CLIO records as "Entered in Error" use the Flowsheet application.    
        </p>
    <br class='separator'/>
    <div id='vitals-reason-for-removal'>
        <label for='reasonForRemoval'>Reason for Removal</label>
        <table>
            <tbody>
            <tr>
                <td><input id='v-eie-r1' type='radio' name='reason' value='1' tabindex='0'/><label class="sr-only" for='v-eie-r1'>Incorrect Date/Time</label> <span>Incorrect Date/Time</span></td>
                <td><input id='v-eie-r2' type='radio' name='reason' value='2' tabindex='0'/><label class="sr-only" for='v-eie-r2'>Incorrect Reading</label> <span>Incorrect Reading</span></td>
            </tr>
            <tr>
                <td><input id='v-eie-r3' type='radio' name='reason' value='3' tabindex='0'/><label class="sr-only" for='v-eie-r3'>Incorrect Patient</label> <span>Incorrect Patient</span></td>
                <td><input id='v-eie-r4' type='radio' name='reason' value='4' tabindex='0'/><label class="sr-only" for='v-eie-r4'>Invalid Reading</label> <span>Invalid Reading</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
